.cart-container {
  max-width:95%;
  margin: 0 auto;
  padding: 20px;
  background-color: #0FA4AF;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartLogo{
  display: flex;
  align-items: center;
}

.cartLogo h1{
  padding-left: 1%;
  color:aliceblue;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-details {
  flex-grow: 1;
  margin-left: 20px;
}

.cart-item-details h5 {
  margin-bottom: 10px;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control button {
  padding: 5px 10px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
}

.quantity-control input {
  width: 50px;
  text-align: center;
}

.cart-item-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-order-now {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.btn-order-now:hover {
  background-color: #135ab5;
}
