.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color:white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel-slide {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  width: 90%;
}

.carousel-slide.sliding {
  transform: translateX(-100%);
}

.carousel-image {
  max-width: 40%;
  height: auto;
  margin-right: 5%;
}

.carousel-content {
  flex: 1;
  color: #2c3e50;
  border-left: 1px solid darkcyan;
  padding: 3%;
}

.carousel-content h2 {
  font-size: 6vh;
  margin-bottom: 10px;
}

.carousel-content p {
  font-size: 1em;
  margin-bottom: 15px;
}

.carousel-link {
  color: #1abc9c;
  text-decoration: none;
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel-slide {
    flex-direction: column;
    text-align: center;
  }

  .carousel-image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .carousel-content {
    max-width: 100%;
  }
}
