
.containerCategory{
    border: 1px solid darkcyan;
    margin-top:3%;
    margin-bottom: 3%;
    background-color:aliceblue;
}

.btn-group button{
    padding: 3%;
    margin-right: 3%;  
    background-color:aliceblue;
    color: black;
}