
.containerCategory{
    
    margin-top:3%;
    margin-bottom: 3%;
    background-color:#2c3e50;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-group button{
    padding: 3%;
    margin-right: 3%;  
    background-color:#2c3e50;
    color: white;
}