.input-group:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}
.input-group{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.btn-outline-secondary{
    background-color: #1abc9c;
}